<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
</head>

<body style=' font: "hack-subset"; background:#222222'>
        <div class="siimple-navbar theme-navbar siimple-navbar--large" style="background:black">
                <a class="siimple-navbar-title siimple--float-right">
                    Vcc|earth
                </a>
            </div>
    <div id="blog-html" class="siimple-content siimple-content--large">
        
        <div class="siimple-grid">
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
                    <div v-for="category in art_tree">
                        || {{ category.name }}.
                        
                        <div v-for="article in category.articles">
                            <a style="cursor: pointer;" v-on:click="render_article_by_path(category.name,article.tag)">
                                    || | | {{ article.title }}
                            </a>                               
                            <br>
                        </div>
                        
                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--9 siimple-grid-col--sm-12">
                    <div v-html="compiledMarkdown"></div>
                    
                </div>
            </div>
        </div>
            <div class="siimple-rule"></div>
            <div align="center" class="siimple--mt-5">
                <p>&copy; 2019 Jakub Sadowski | ΞΔ-flavoured MIT</p>
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#blog-html',
            data: {
                art_tree: [],
                article: ""
            },
            computed: {
                compiledMarkdown: function () {
                return marked(this.article, { sanitize: true })
                }
            },
            methods: {
                get_art_tree: function () {
                    return fetch('/api/list')
                        .then(function (response) {
                            return response.json()
                        })
                },
                get_art_by_path: function (category,article) {
                    return fetch('/api/article/' + category + '/'+article)
                        .then(function (response) {
                            return response.text()
                        })
                },
                render_article_by_path: function (category,article) {
                    this.get_art_by_path(category,article)
                        .then(function (article) {
                            vm.article = article
                        })
                }
            },
            created: function () {
                this.get_art_tree()
                    .then(function (list) {
                        vm.art_tree = list
                    })
                this.render_article_by_path('main','non-empty')
            }
        })
    </script>
</body>