<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">   
</head>

<body style=' font: ""; background:#EAEEEE'>
    <div class="siimple-navbar theme-navbar siimple-navbar--large" style="background:black">
        <a class="siimple-navbar-title siimple--float-right">
            <span style="text-shadow: 0 0 4px #990000">Vcc</span>|
            <span style="text-shadow: 0 0 4px #000099">earth</span>
        </a>
    </div>
    <div id="blog-html" class="siimple-content siimple-content--large" style="padding-top:0px">
        <div class="siimple-grid" style="min-height: 600px">
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
                    <div>
                        <pre>
 ___ _   _ _ __   
/ __| | | | '_ \  
\__ \ |_| | |_) | 
|___/\__,_| .__(_)
          |_|         

Ma names' Jakub 
and sometimes
I do stuff.
                        </pre>
                    </div>
                    <p>The stuff:</p>
                    <div v-for="category in art_tree">
                        || {{ category.name }}.

                        <div v-for="article in category.articles">
                            <div v-if="article.tag == active_article_tag">
                                <a style="color:#000000;text-shadow: 0 0 3px #FF8800">
                                    || | | {{ article.title }}
                                </a>
                            </div>
                            <div v-else>
                                <a style="cursor: pointer;" v-on:click="current_article_path = '/'+article.category+'/'+article.tag">
                                    || | | {{ article.title }}
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--9 siimple-grid-col--sm-12">
                    <div v-html="articleHtml">
                        <h1>:(</h1>
                        <p>
                            Your browser ran into some javaScript problems and needs to refresh. We're not collecting any info
                            because javaScript is disabled.
                        </p>
                        <p>
                            Unfortunatelly this webpage bases on vue.js and some fetch api so it is absolutelly non-unjavascriptable
                        </p>
                        <p>
                            Feel free to browse my stuff by manually curling the content from api or whatever: /api/list
                            and /api/article/{category}/{tag}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="siimple-rule siimple-rule--grey"></div>
        <div align="center" class="siimple--mt-5">
            <p>&copy; 2019 Jakub Sadowski |
                <i style="text-shadow: 0 0 4px #FFFF00">
                    <a a href='/about/ksidelta-MIT'>ΞΔ</a>
                </i>-flavoured MIT</p>
        </div>
    </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#blog-html',
            data: {
                current_article_path: '',
                active_article_tag: null,
                art_tree: [],
                fallback_article_path: '/about/this-blog',

                articleHtml: "",
            },
            watch: {
                current_article_path: function (new_path, old_path) {
                    window.history.replaceState(
                        null,
                        null,
                        new_path)
                    this.fetch_md_by_path(new_path).then(function (response_md) {
                        vm.articleHtml = '<iframe style="border:none;height:100%;width:100%;" src= "/api/article'+new_path+'"></iframe>'
                    })
                    this.active_article_tag = new_path.split('/')[new_path.split('/').length - 1]
                }
            },
            methods: {
                get_art_tree: function () {
                    return fetch('/api/list')
                        .then(function (response) {
                            return response.json()
                        })
                },
                fetch_md_by_path: function (path) {
                    return fetch('/api/article' + path)
                        .then(function (response) {
                            return response.text()
                        })
                },
            },
            created: function () {
                this.get_art_tree()
                    .then(function (list) {
                        vm.art_tree = list
                    })
                if (window.location.pathname.split('/').length > 2)
                    this.current_article_path = window.location.pathname
                else
                    this.current_article_path = fallback_article_path
            }
        })
    </script>
</body>